{{template "layout" .}}
{{define "main"}}
<div class="box-with-shadows">
    <form action="/proces" method="post">
        <div class="box-with-shadows">
            <label for="name">Name</label>
            <input type="text" name="Name" placeholder="Nama kamu" required>
        </div>

        <div class="box-with-shadows">
            <label for="name">Pesan</label>
            <input type="text" name="message" placeholder="Pesan kamu" required>
        </div>
        <div class="box-with-shadows">
            <input type="submit" value="Kirim">
        </div>
    </form>
</div>
{{end}}